$primary : #fed136;
$white:#fff;


.btn-primary {
color: $white;
background-color: $primary;
border-color: $primary;
}

.btn-primary.disabled, .btn-primary:disabled {
color: $white;
background-color: $primary;
border-color: $primary;
}

.btn-warning {
color:$white;
background-color: $primary;
border-color: $primary;
}

.btn-outline-primary {
color: $primary;
border-color:$primary;
}
.btn-outline-primary:hover {
color: $white;
background-color:$primary;
border-color:$primary;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
color: $primary;
background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
color:  $white;
background-color: $primary;
border-color:$primary;
}

.btn-outline-warning {
color: $primary;
border-color: $primary;
}
.btn-outline-warning:hover {
color:  $white;
background-color: $primary;
border-color: $primary;
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
color: $primary;
background-color: transparent;
}
.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
color: $white;
background-color: $primary;
border-color: $primary;
}

.btn-link {
font-weight: 400;
color: $primary;
text-decoration: none;
}

.dropdown-item.active, .dropdown-item:active {
color: $white;
text-decoration: none;
background-color: $primary;
}

.custom-control-input:checked ~ .custom-control-label::before {
color: $white;
border-color: $primary;
background-color: $primary;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
border-color: $primary;
background-color: $primary;
}

.custom-range::-webkit-slider-thumb {
width: 1rem;
height: 1rem;
margin-top: -0.25rem;
background-color: $primary;
border: 0;
border-radius: 1rem;
-webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
-webkit-appearance: none;
        appearance: none;
}

.custom-range::-moz-range-thumb {
width: 1rem;
height: 1rem;
background-color: $primary;
border: 0;
border-radius: 1rem;
-moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
-moz-appearance: none;
        appearance: none;
}

.custom-range::-ms-thumb {
width: 1rem;
height: 1rem;
margin-top: 0;
margin-right: 0.2rem;
margin-left: 0.2rem;
background-color: $primary;
border: 0;
border-radius: 1rem;
-ms-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
appearance: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $white;
  background-color: $primary;
}

.page-link {
position: relative;
display: block;
padding: 0.5rem 0.75rem;
margin-left: -1px;
line-height: 1.25;
color: $primary;
background-color: $white;
border: 1px solid #dee2e6;
}

.page-item.active .page-link {
z-index: 3;
color: $white;
background-color: $primary;
border-color: $primary;
}

.badge-primary {
color: $white;
background-color: $primary;
}

.badge-warning {
color: $white;
background-color: $primary;
}

.progress-bar {
display: flex;
flex-direction: column;
justify-content: center;
overflow: hidden;
color: $white;
text-align: center;
white-space: nowrap;
background-color: $primary;
transition: width 0.6s ease;
}

.list-group-item.active {
z-index: 2;
color: $white;
background-color: $primary;
border-color: $primary;
}

.bg-primary {
background-color: $primary !important;
}

.bg-warning {
background-color: $primary !important;
}

.border-primary {
border-color: $primary !important;
}

.border-warning {
border-color: $primary !important;
}

.text-primary {
color: #fed136 !important;
}